@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Battleship</h1>
</div>
<a asp-page="./Games/Create" class="btn btn-primary">Start a new game</a>
<hr/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].PlayerA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].PlayerB)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Game) {
        @if (item.IsOver != true)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerA.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerB.Name)
                </td>
                <td>
                    <a asp-page="./GamePlay/Index" asp-route-id="@item.GameId">Load game</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

